<!DOCTYPE html>
<html>
<head>
    <title>Utilisateurs - TODO List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>👥 Utilisateurs</h1>
        <div class="nav">
            <a href="/">Accueil</a>
            <a href="/tasks">Tâches</a>
            <a href="/users">Utilisateurs</a>
            <a href="/add-task">Ajouter une tâche</a>
            <a href="/add-user">Ajouter un utilisateur</a>
        </div>
        {{USERS_CONTENT}}
    </div>
</body>
</html> 